<ion-content>
  <ion-slides pager="true">
    <ion-slide>
      <h1>Disfruta de la música con tus amigos</h1>
      <ion-icon name="man-outline"></ion-icon>
    </ion-slide>
    <ion-slide>
      <h1>Disfruta de la música en cualquier lugar </h1>
      <ion-icon name="musical-notes-outline"></ion-icon>
    </ion-slide>
    <ion-slide>
      <ion-icon name="close-outline" (click)="finishIntro()"></ion-icon>
      <h1>No importa donde estes, la música te acompañara</h1>
      <ion-icon name="location-outline"></ion-icon>
    </ion-slide>
  </ion-slides>
</ion-content>
